/* You can add global styles to this file, and also import other style files */
body{
    font-family: "Oswald", sans-serif;
    background: url(../src/assets/img/prism1.png);
    background-attachment: fixed;
    color: #ffffff;
}
