<!-- Seccion Hard&SoftSkills --> 
<section id="hardysoftskills" class="about">
    <div class="container text-left">  <!-- contenedor h&s --> 
      <div class="row">
          <div class="col -3" >         
             <h3 class="fw-normal4"><br>Hard & Soft Skills</h3>
          </div>                             
      </div>
      <div *ngFor="let hyS of habilidades">
        <p class="titulo">{{hyS.habilidad}}<img [src]="hyS.img" alt="" class="img"></p>
        <div class="progress" role="progressbar" aria-label="Animated striped example" aria-valuenow="90" 
        aria-valuemin="0" aria-valuemax="100">
         <div class="progress-bar progress-bar-striped progress-bar-animated" [style]="hyS.style">{{hyS.porcentaje}}</div>
        </div>
     </div>
      
    </div>
</section>