<!-- Seccion carrucel --> 
<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">  
      <div class="carousel-item active"> <!--carrucel exp-->
        <img src="./assets/img/IMG-1-diseno-web.jpg" class="d-block w-100" alt="experiencia">
        <div class="carousel-caption d-none d-md-block">
          <h2>Experiencia Laboral</h2>
          <button type="button" class="btn btn-primary btn-lg"><h6>Experiencia</h6></button>
        </div>
      </div>
      <div class="carousel-item"> <!--carrucel estudios-->
        <img src="./assets/img/desarrollo-web.png" class="d-block w-100" alt="estudios">
        <div class="carousel-caption d-none d-md-block">
          <h2>Estudios y certificaciones</h2>
          <button type="button" class="btn btn-primary btn-lg"><h6>Estudios</h6></button>
        </div>
      </div>
      <div class="carousel-item"> <!--carrucel habilidades H&S-->
        <img src="./assets/img/disenador-de-paginas-web.jpg" class="d-block w-100" alt="hs">
        <div class="carousel-caption d-none d-md-block">
          <h2>Hard & Soft Skills</h2>
          <button type="button" class="btn btn-primary btn-lg"><h6>Skills</h6></button>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>